
# Gradle
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# Logs
*.log

# Mac/Windows
.DS_Store
Thumbs.db

# Keystore
*.jks
*.keystore
